.change-status-modal {
  &__modal {
    max-width: 28.1875rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    border-radius: 0.625rem;
    background: #fff;

    &-title {
      text-align: center;
      color: #000;
      text-align: center;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      &_highlighted {
        color: #0094ff;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    &-buttons {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      min-width: 14.6875rem;
    }
  }
}
