.table-body-dekstop {
  &__row {
    position: relative;
    height: 3.125rem;
  }

  &_withTotal &__row {
    &:last-child {
      height: 3.1875rem;
      background-color: #EDF0F4;

      * {
        font-size: 0.75rem;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  &__arrow {
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    cursor: pointer;

    &_opened {
      transform: rotate(180deg);
    }
  }

  &__table-inner {
    display: flex;
    flex-direction: column;
    background: #fff;
    gap: 1.25rem;
  }
}