.table-header-cell {
  padding-left: 0.62rem;

  &:last-child {
    .table-header-cell__border-line {
      display: none;
    }
  }

  &__container {
    display: flex;
    height: 3.1875rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    color: #000;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    white-space: nowrap;
  }

  &__sort {
    margin-left: auto;
    width: 1.5rem;
    height: 1rem;
    cursor: pointer;
  }

  &__border-line {
    width: 1px;
    height: 1.34rem;
    background: #cfdae9;
    margin-left: 0.5rem;
  }
}
